.login-wp {
  width: 100%;

  .centered-elements {
    display: table;
    height: 100vh;
    margin: 0 auto;
    max-width: 800px;
    width: 80%;

    .login-form {
      display: table-cell;
      vertical-align: middle;

      .logo-wp {
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
      }
    }
  }

  .form-group {
    font-size: 0;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    &:last-child {
      padding-top: 20px;
    }

    .label-form {
      font-size: 16px;
      width: 50%;
      max-width: 120px;
    }

    .input-form {
      font-size: 16px;
      width: 50%;
    }

  }
}