<div class="preview">
  <div class="preview-card" ng-style="{'background-color': backgroundColor}">
    <div class="img-wp">
      <img src="/assets/images/peluca.png" alt="peluca">
      <span class="tag-icon" ng-style="{'background-color': textColor}"><i class="icon fa" ng-class="{'fa-commenting-o': icon == 1, 'fa-bed': icon == 2, 'fa-music': icon == 3}"></i></span>
    </div>
    <div class="card-content-wp">
      <div class="favorite-wp" ng-click="markAsFavorite()">
        <i class="favorite-btn fa fa-star"></i>
      </div>
      <h1 class="card-title" ng-style="{color: textColor}">{{title}}</h1>
      <p class="description-text" ng-style="{color: textColor}">{{descriptionText}}</p>
      <p class="hard-coded-message">This is a hard coded message?</p>
    </div>
  </div>
</div>